body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
    /* Reducido el padding para dispositivos móviles */
    background-color: #e4e2e2;
}

h1,
h2 {
    text-align: center;
    background-color: #0000001f;
    border-radius: 10px;
    padding: 10px;
    border: 3px solid black;
}

.navigation {
    margin-bottom: 20px;
    text-align: center;
    display: block;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
}

.navigation li {
    margin: 20px 0;
    /* Reducido el margen para dispositivos móviles */
}

.navigation a {
    display: inline-block;
    /* Cambiado a inline-block para ajustarse mejor */
    text-decoration: none;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    border: #0056b3 solid 2px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}


.checklist-section {
    display: none;
    /* Oculto por defecto */
}

.checklist-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.logo img {
    max-width: 150px;
    max-height: 150px;
}

.header-title {
    flex-grow: 2;
    text-align: center;
    margin: 10px 0;
}

.header-info {
    text-align: right;
    font-size: 22px;
    width: 60%;
}

.header-info table {
    border-collapse: collapse;
    width: 100%;
}

.header-info td {
    border: 1px solid black;
    padding: 5px 4px;
}

.vehicle-info {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.vehicle-info td {
    border: 1px solid black;
    padding: 5px;
    font-size: 14px;
}

.vehicle-info td:first-child {
    font-weight: bold;
}

.back-button {
    display: block;
    margin: 20px auto;
    padding: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    text-align: center;
    text-decoration: none;
}

.back-button:hover {
    background-color: #d32f2f;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    table-layout: auto;
}

.pare-icon {
    display: block;
    margin: 10px auto;
    width: 30px;
    height: 30px;
}

th,
td {
    border: 1px solid #6564647b;
    text-align: center;
    padding: 4px;
    white-space: normal;
    /* Permitir que el texto se ajuste */
    overflow-wrap: break-word;
    font-size: 9px;
}

th {
    background-color: #007bff;
    color: white;
}

.checklist-item {
    text-align: left;
}

.submit-button {
    display: block;
    width: 200px;
    padding: 10px;
    margin: 20px auto;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0056b3;
}

.table-container {
    overflow-x: auto;
    overflow-y: hidden;
    /* Permitir desplazamiento horizontal en pantallas táctiles */
    white-space: nowrap;
    /* Evita que el contenido se ajuste automáticamente en una nueva línea */
    position: relative;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    table-layout: fixed;
}

/* Estilos para las filas y celdas de la tabla */
.table-container th,
.table-container td {
    padding: 8px;
    font-size: 12px;
    /* Ajusta el tamaño de las celdas para dispositivos móviles */
}


.signature-container {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#signature-pad {
    border: 1px solid #000;
    cursor: crosshair;
    display: block;
    margin: 0 auto;
}

button {
    margin-top: 5px;
    padding: 4px 8px;
    font-size: 12px;
}

/* Estilo general para las celdas de la tabla */
.table-cell {
    width: 200px;
    /* Consistencia en el ancho de las celdas de la tabla */
    vertical-align: top;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.338);
}

.input-style {
    writing-mode: vertical-rl;
    text-align: center;
    width: 40px;
    /* Reducido el ancho de los inputs */
    height: 60px;
    /* Ajustar la altura para hacerlo más pequeño */
    font-size: 10px;
    /* Tamaño de texto reducido */
}

.day-column {
    width: auto;
    ;
    /* Ajustar el ancho de las columnas de los días */
    vertical-align: top;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.338);
}


.first-column {
    width: 180px;
    /* Reducido de 500px a 180px */
    vertical-align: top;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.338);
}

.first-column select,
.first-column input[type="text"] {
    width: 100%;
    /* Hacer que el select y el input ocupen el 100% de la celda */
    margin-top: 5px;
    padding: 4px;
    /* Reducir padding para ajustarse a un espacio más pequeño */
}

.first-column label {
    font-size: 12px;
    /* Ajustar el tamaño de la etiqueta */
    margin-bottom: 5px;
    /* Añadir espacio inferior a la etiqueta */
}

.first-column input[type="text"] {
    font-size: 12px;
    /* Reducir tamaño del texto del input */
    height: 25px;
    /* Ajustar la altura del input */
}


.item-column {
    width: auto;
    padding: 5px;
    /* Ajuste el ancho de la primera columna */
    color: black;
    font-size: 12px;
    border: 1px solid rgba(0, 0, 0, 0.338);
    position: -webkit-sticky;
    /* Soporte para Safari */
    position: sticky;
    left: 0;
    /* Fija la primera columna a la izquierda */
    background-color: white;
    /* Mantiene un fondo visible para la columna */
    z-index: 2;
    /* Para que esté por encima de otras columnas */
}





@media print {
    .a4-page input {
        font-size: 12px;
        height: auto;
        width: 30px;
        text-align: center;
        transform: rotate(-90deg);
        transform-origin: center;
    }

    .a4-page select,
    .a4-page label {
        font-size: 12px;
    }

    .a4-page td {
        text-align: center;
        transform: rotate(-90deg);
        /* Simula la escritura vertical */
        transform-origin: left bottom;
        /* Ajusta el origen de la rotación */
    }

    .a4-page td div {
        transform: rotate(-90deg);
        transform-origin: center;
        font-size: 10px;
        /* Ajusta el tamaño del texto según sea necesario */
        white-space: nowrap;
        /* Evita que el texto se corte o ajuste */
        width: auto;
        /* Ajusta el ancho automáticamente */
    }

}


@media (max-width: 768px) {
    body {
        padding: 20px;
    }

    h1,
    h2 {
        font-size: 2em;
        padding: 20px;
    }

    .header-info {
        font-size: 20px;
        width: 80%;
    }

    .table-container {
        overflow-x: hidden;
    }

    table {
        font-size: 12px;
    }

    .item-column {
        width: 180px;
        /* Ajuste específico para tablets */
    }

    .day-column {
        width: 60px;
        /* Ajuste el ancho de las columnas de los días */
    }

    /* Ajustes para botones */
    .submit-button,
    .back-button {
        width: 100%;
        max-width: 400px;
    }

    .signature-container {
        width: 100%;
        height: auto;
    }
}

/* Para tablets en modo retrato (vertical) de 1200x2000 */
@media (min-width: 768px) and (max-width: 1200px) and (orientation: portrait) {
    body {
        padding: 20px;
    }

    h1,
    h2 {
        font-size: 2em;
        padding: 20px;
    }

    .header-info {
        font-size: 20px;
        width: 80%;
    }

    .table-container {
        overflow-x: hidden;
    }

    table {
        font-size: 12px;
    }

    .item-column {
        width: auto;
        /* Ajuste específico para tablets */
    }

    .day-column {
        width: auto;
        /* Ajuste el ancho de las columnas de los días */
    }

    /* Ajustes para botones */
    .submit-button,
    .back-button {
        width: 100%;
        max-width: 400px;
    }

    .signature-container {
        width: 100%;
        height: auto;
    }

    .vehicle-info td {
        font-size: 14px;
        /* Ajustar el tamaño del texto */
    }

    .checklist-header,
    .vehicle-info {
        flex-direction: column;
        /* Hacer que los elementos de la cabecera se apilen */
    }

    .checklist-header .header-info {
        width: 100%;
        /* Asegurarse que ocupe todo el ancho */
    }
}

/* Para tablets en modo paisaje (horizontal) de 2000x1200 */
@media (min-width: 1200px) and (max-width: 2000px) and (orientation: landscape) {
    body {
        padding: 20px;
        font-size: 16px;
    }

    h1,
    h2 {
        font-size: 2.5em;

    }

    .header-info {
        font-size: 20px;
        width: 80%;
    }

    .table-container {
        overflow-x: auto;
    }

    table {
        font-size: 12px;
    }

    .item-column {
        width: 180px;
        /* Ajuste específico para tablets */
    }

    .day-column {
        width: auto;
        /* Ajustar dinámicamente */
    }

    .submit-button,
    .back-button {
        width: 300px;
        font-size: 1.2em;
    }

    .signature-container {
        width: 100%;
        height: auto;
    }

    .vehicle-info td {
        font-size: 16px;
        /* Aumentar un poco el tamaño del texto */
    }

    .checklist-header,
    .vehicle-info {
        flex-direction: row;
        /* Colocar los elementos en línea horizontal */
    }

    .checklist-header .header-info {
        width: 70%;
        /* Ajustar el ancho para ocupar más espacio horizontal */
    }
}